<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="logs/nlog-internal.log">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/server.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} :: ${message}"
            archiveFileName="${basedir}/logs/archives/server.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>
